body { 
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(250, 7%, 84%) url("../img/fondo.JPG");
    background-size: contain;
}

h2 {
    background-color: hsl(196, 22%, 90%);
    padding: 10px;
    border-radius: 10px;
    margin: 4px;
    width: 15%;
    text-align: center;
 
}

#formRegistro {
    background-color: hsl(196, 22%, 90%);
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
}

label {
    font-weight: bolder;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="nombre"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #cfcbcb;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: hsl(134, 61%, 41%);
    color: white;
    padding: 11px;
    width: 100%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hsl(170, 61%, 33%);
}

